:root{
  --primary-black:#313839;
  --primary-blue-dark:#2f4858;
  --primary-white:#ffe9d0;
  --primary-white:#e9e9e9;
  --primary-orange:#ff962b;
}

.tarife{
  position: relative;
  width: 100%;
  height: 1900px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.tarife-title h1,.tarife-title span{
  font-size: 60px;
}

.tarife-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.tarife-content h1{
  color: var(--primary-blue-dark);
}

.tarife-content hr{
  margin: 3px;
  border: 0px;
  background: radial-gradient(#000,#666,#ccc,#fff);
  height: 2px;
  width: 450px;
}
.tarife-content h1{
  text-align: center;
  font-size: 35px;
}

.tarife-subcontent{
  margin: 50px 0px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tarife-card{
  margin: 0px 20px;
  height: 400px;
  width: 250px;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tarife-card-title{
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  height: 10px;
  flex: 10%;
  border-radius: 30px;
}

.tarife-card-title hr{
  width: 50px;
  height: 4px;
  background: none;
  background-color: #333;
}

.tarife-card-content{
  margin-top: 10px;
  flex: 70%;
  display: flex;
  flex-direction: column;
  place-content: center;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  text-align: center;
  border-radius: 30px;
}

.tarife-card-content hr{
  width: 90%;
  height: 2px;
  background: none;
  background-color: #333;
  border-radius: 30px;
}
