html{
    height: 100%;
}

body {
    background-image: radial-gradient(circle at 100%,#bbe1fa 30%, #3282b8 68.88%,#bbe1fa 69% );;;
}

hr {
    border-style: dotted;
    border-color: #1b262c;
    border-width: 10px;
    border-bottom-style: none;
    height: 0px;
    width: 10%;
}

h2,h3,p,li,label{
    color: #1b262c;
}

img{
    border-radius: 100%;
    border
}

img:hover{
    opacity: 90%;
}

/*
https://colorhunt.co/palette/167893
*/
