html{
    height: 100%;
    transform: scale(1.2);
    margin-top: 90px;
    margin-left: 180px;
    overflow: hidden;
}

body {
    background-image: radial-gradient(circle at 100%,#bbe1fa 30%, #3282b8 68.88%,#bbe1fa 69% );;
}

hr {
    margin-left: 190px;
    border-style: dotted;
    border-color: #1b262c;
    border-width: 10px;
    border-bottom-style: none;
    height: 0px;
    width: 120px;
}

h2,h3,p,li,label{
    -webkit-text-stroke-width: 0.20px;
    -webkit-text-stroke-color: black;
    color: #1b262c;
}

img{
    border-radius: 100%;
}

a.imageLink{
    display: inline-block;
    height: 0px;
}



a.textLink{
    outline: none;
    padding: 1px 1px 0;
    border-bottom: 1px;
    text-decoration:underline #1b262c;
}
  
  a:link.textLink {
    color: #1b262c;
  }
  
  a:visited.textLink {
    color: #1b262c;
  }
  
  a:hover.textLink {
    border: 1px dashed;
  }

  a.buttonLink{
    outline: none;
    padding: 1px 3px 1px;
    border-bottom: 1px;
    text-decoration:none;
    border:2px solid;
    background-color: #3282b899;
}
  
  a:link.buttonLink {
    color: #1b262c;
  }
  
  a:visited.buttonLink {
    color: #1b262c;
  }
  
  a:hover.buttonLink {
    border: 2px dashed;
    background-color: #3282b855;
  }
  

img:hover{
    opacity: 90%;
}

.contact{
    margin-left: 70px;
}

/*
https://colorhunt.co/palette/167893
*/